[submodule "laser_lines"]
	path = laser_lines
	url = git@github.com:lsy563193/laser_lines.git
[submodule "obstacle_detector"]
	path = obstacle_detector
	url = git@github.com:lsy563193/obstacle_detector
