<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <!--<include file="$(find mybot_bringup)/launch/fake_turtlebot.launch" />-->

  <!--<include file="$(find rplidar_ros)/launch/rplidar.launch" />-->

  <!--<include file="$(find mybot_nav)/launch/fake_move_base_blank_map.launch" />-->
  <!--<include file="$(find mybot_nav)/launch/fake_move_base_map_with_obstacles.launch" />-->
  <!--<include file="$(find automow_maps)/launch/empty_map_server.launch" />-->
  <!--<include file="$(find automow_planning)/launch/path_planning.launch" />-->


  <!--<node name="publish_odometry" pkg="mybot" type="publish_odometry" output="screen" />-->
  <!--<include file="$(find mybot_nav)/launch/keyboard_teleop.launch" />-->

  <!--<include file="$(find mybot_nav)/launch/gmapping_demo.launch" />-->
  <!--<include file="$(find mybot_nav)/launch/gmapping.launch"/>-->

  <!-- Fire up AMCL -->
  <!--<include file="$(find mybot_nav)/launch/tb_amcl.launch" />-->

  <!--<include file="$(find world_canvas_server)/launch/world_canvas_server.launch" />-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_nav)/nav.rviz" />

  <!--<node name="laser_lines" pkg="laser_lines" type="laser_lines" />-->

  <node pkg="laser_lines" type="laser_lines" respawn="true" name="laser_lines" output="screen"/>

</launch>
